@charset "UTF-8";

html, body, div#jsoneditor_widget{
	height: 100%;
}

div#jsoneditor_widget{
	width: 100%;
}

#jsoneditor {
	min-height: 200px;
	width: inherit;
}

select, #addCollection > button, #jsonblock > button, #string_to_json, #jsonblock{
	width: inherit;
}

div#serviceButtons{
	text-align: center;	
}

div.buttonblock{
	margin: 0px;
	display: inline;
}

div#serviceButtons button{
	display: inline;
}

#jsonblock, #addCollection{
	text-align: center;
}

textArea{
	resize: none;
}

#updJSON, #delJSON{
	display: none;
}