@charset "UTF-8";

html, body, div#jsoneditor_widget{
	height: 100%;
}

div#jsoneditor_widget, #colName, div#jsoneditor_widget select, #dbInfoBlock, #colNameBlock, #newObjectTypeBlock, #jsonblock, #json_to_json, #string_to_json, #jsoneditor, #jsonButtons, #stringeditor{
	width: 100%;
}

#stringeditor, #jsoneditor{
	margin: auto;
}

#dbInfoBlock > div > input, #dbInfoBlock > div > button{
	height: 23px;
	font-size: smaller;
}

#jsoneditor {
	min-height: 200px;
}

#newObjectTypeBlock, #updColName, #backColName{
	display: none;
}

#insertTypeRadio{
	display: inline-flex;
	vertical-align: middle;
	text-align: center;
}

div#jsoneditor_widget > div, #jsonButtons {
	margin: auto;
	text-align: center;
}

#editColName{
	width: 98%;
}

textArea#string_to_json{
	resize: none;
}

#insertTypeRadio > div > span, #insertTypeRadio > div > input{
	cursor: pointer;
}

buttons{
	display: inline;
}